@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

.about {
  background-color: #0a2750;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.about__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  z-index: 1;
  margin: 100px 0px 0px 80px;
}

.about__content {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin: 119px 80px 173px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__paragraph {
  margin: 0px;
}

.about__circle {
  height: 426px;
  width: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
