.card {
  box-sizing: border-box;
  max-width: 600px;
  width: calc(50% - 20px);
  margin: 0px;
}

.card__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 32px 0px;
}

.card__list {
  padding-inline-start: 0;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0px 0px 16px 0px;
}

.card__list-divider {
  border-bottom: thin solid white;
  flex-grow: 1;
  margin: 0px 5px;
}
