.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 125px;
  max-height: 142px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 80px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 80px;
  margin-bottom: 202px;
  margin-top: 30px;
}

.nav__link {
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
  transition: color 1s linear 0s;
}

.header__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin-left: 80px;
  position: relative;
  z-index: 1;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-left: 80px;
  margin-top: 28px;
  z-index: 2;
  position: relative;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__paragraph {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__paragraph_hours {
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__paragraph_address {
  position: absolute;
  right: 80px;
  bottom: 40px;
}
