.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.menu__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  max-width: 780px;
  padding-top: 100px;
  margin: 24px auto;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 780px;
  margin: 24px auto;
}

.menu__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 100px auto;
  gap: 100px;
  padding-bottom: 100px;
}
