.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 385px;
  margin: 80px auto 120px;
}

.form__fieldset {
  border: none;
}

.form__label {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  width: 385px;
  margin-bottom: 32px;
  margin-top: 8px;
  padding: 0px 15px;
  color: #838383;
}

.form__button {
  border-radius: 4px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  margin-bottom: 32px;
  width: 385px;
  background-color: #2f80ed;
  color: white;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 1s linear 0s;
}

.form__checkbox-section {
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
}
